@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Poiret One", cursive;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

.title {
  text-align: center;
  padding: 0 2vw 0;
  border-bottom: 1px solid lightgray;
}

.container {
  width: 90%;
  height: 100vh;
  margin: auto;
}

.digital-clock {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

h1 {
  font-size: clamp(1.5rem, 1rem + 2vw, 3rem);
}

.slide-top {
  -webkit-animation: slide-top 1s cubic-bezier(0.645, 0.045, 0.355, 1) reverse
    backwards;
  animation: slide-top 1s cubic-bezier(0.645, 0.045, 0.355, 1) reverse backwards;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
}
